<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title th:text="${title}">TITLE</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black py-3" th:fragment="menu(menu, loginUser)">
    <div class="container-fluid">
        <a class="navbar-brand" href="../board/home">HelloMovie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form th:fragment=""></form>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link " href="#" th:href="@{/board/home}" th:classappend="${menu  == 'home'} ? 'text-white' : ''">
                        <span class="sr-only" th:if="${menu} == 'home'">🏠</span>
                        홈
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/hot}" th:classappend="${menu  == 'hot'} ? 'text-white' : ''">
                        <span class="sr-only" th:if="${menu} == 'hot'">🔥</span>
                        핫게시판
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/board/movie}" th:classappend="${menu  == 'movie'} ? 'text-white' : ''">
                        <span class="sr-only" th:if="${menu} == 'movie'">📽</span>
                        영화 정보
                    </a>
                </li>

            </ul>

            <div th:if="${#strings.equals(loginUser, '!none') eq false}"><!-- 로그인 된 상태-->
                <div class="d-inline-block">
                    <p th:text="${loginUser} + ' '" style="color: white; font-size: large;"></p>

                </div>
                <div class="d-inline-block">
                    <button class="w-100 btn btn-secondary btn-sm">마이페이지</button>
                </div>

                <form class="d-inline-block" th:action="@{/logout}" method="post"
                      onsubmit="return confirm('로그아웃 하시겠습니까?');">
                    <button class="w-100 btn btn-secondary btn-sm"  type="submit">
                        로그아웃
                    </button>
                </form>
            </div>

            <div th:if="${#strings.equals(loginUser, '!none') eq true}"><!-- 로그인 되지 않은 상태 -->
                <button class="btn btn-sm btn-primary "
                        th:onclick="|location.href='@{/login}'|"
                        type="button">로그인</button>
                <button class="btn btn-sm btn-primary "
                        th:onclick="|location.href='@{/register}'|"
                        type="button">회원 가입</button>
            </div>
        </div>
    </div>
</nav>


<div class="container" th:fragment="nav-padding">
    <div style="padding: 50px"></div>
</div>

</body>

</html>